*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: $color-background;
  font-family: $font-main;
  font-size: 14px;
  line-height: 1.7;
  font-weight: $font-regular;
  color: $color-text;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
}

#pages {
  > * {
    display: none;
  }
  
  > .active {
    display: block;
  }
}

.menu {
  height: 100px;
  width: 40%;
  padding-top: 20px;
  margin: auto auto;
  text-align: center;
  display: flex;
  justify-content: space-evenly;

  div {
    margin-right: 10px;
    margin-left: 10px;

    a {
      color: $color-text;
      list-style-type: none;
      text-decoration: none;
      font-family: $font-main;
      font-size: 14px;
      font-weight: $font-semibold;
      letter-spacing: 2px;
    }
  }
}

.header {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-main;
  display: block;
  text-align: right;

}

.bigger-title-part {
  font-size: 38px;
  font-weight: $font-bold;
  line-height: 42px;
  letter-spacing: 22px;
  //text-align: center;
}

.smaller-title-part {
  font-size: 14px;
  letter-spacing: 5px;
  //text-align: right;
  padding-right: 22px;
  font-weight: $font-bold;
}

.upper-div {
  background-image: linear-gradient(to bottom, rgb(255, 255, 255, 0.01) 50%, rgba(0, 0, 0, 0.8)), url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 480px;
  text-align: center;
  z-index: 1;
}

.middle-div {
  position: relative;
  height: 0px;
  background-color: black;
  z-index: 2;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.lower-div {
  position: relative;
  background-color: black;
  min-height: 480px;
  z-index: 0;
}

.copyright {
  text-align: center;
  position: relative;
  background-color: black;
  line-height: 30px;
  //top: 90%;
  //left: 50%;
  //transform: translateX(-50%);
  font-family: $font-main;
  font-size: 8px;
  letter-spacing: 3px;
  font-weight: $font-regular;
}

@media (max-width: 500px){
  .header {
    width: 100%;
    text-align: center;
  }

  .bigger-title-part {
    font-size: 20px;
    font-weight: $font-bold;
    line-height: 22px;
    letter-spacing: 12px;
  }

  .smaller-title-part {
    padding-right: 0;
  }
}