//Colors

$color-background: #131313;
$color-text: #fff;

$color-marked-cell: #c24e00;
$color-first-cell: #2ecc71;
$color-last-cell: #e74c3c;
$color-shortestWay: #2ecc71;
$color-possible-move: lightblue;

//Fonts

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;